<div class="lc-block" id="l-login" ng-class="{ 'toggled': loginCtrl.viewMode.login }" ng-if="loginCtrl.viewMode.login">
  <form name="form-login" ng-submit="loginCtrl.login(loginCtrl.user)">
    <div class="input-group m-b-20">
      <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
      <div class="fg-line">
        <input type="text" class="form-control" ng-model="loginCtrl.user.username" placeholder="Username">
      </div>
    </div>
    <div class="input-group m-b-20">
      <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
      <div class="fg-line">
        <input type="password" class="form-control" ng-model="loginCtrl.user.password" placeholder="Password">
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="loginCtrl.user.keepSignedIn">
        <i class="input-helper"></i>
        Keep me signed in
      </label>
    </div>
    <button type="submit" class="btn btn-login btn-danger btn-float"><i class="zmdi zmdi-arrow-forward"></i></button>
    <ul class="login-navigation">
      <li data-block="#l-register" class="bgm-red" ng-click="loginCtrl.switchViewMode('register')">Register</li>
      <li data-block="#l-forget-password" class="bgm-orange" ng-click="loginCtrl.switchViewMode('forgot')">Forgot Password?</li>
    </ul>
  </form>
</div>

<!-- Register -->
<div class="lc-block" id="l-register" ng-class="{ 'toggled': loginCtrl.viewMode.register }" ng-if="loginCtrl.viewMode.register">
  <form name="form-login" ng-submit="loginCtrl.register(loginCtrl.user)">
    <div class="input-group m-b-20">
      <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
      <div class="fg-line">
        <input type="text" class="form-control" placeholder="Username">
      </div>
    </div>
    <div class="input-group m-b-20">
      <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
      <div class="fg-line">
        <input type="text" class="form-control" placeholder="Email Address">
      </div>
    </div>
    <div class="input-group m-b-20">
      <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
      <div class="fg-line">
        <input type="password" class="form-control" placeholder="Password">
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        <i class="input-helper"></i>
        Accept the license agreement
      </label>
    </div>
    <button type="submit" class="btn btn-login btn-danger btn-float"><i class="zmdi zmdi-arrow-forward"></i></button>
    <ul class="login-navigation">
      <li data-block="#l-login" class="bgm-green" ng-click="loginCtrl.switchViewMode('login')">Login</li>
      <li data-block="#l-forget-password" class="bgm-orange" ng-click="loginCtrl.switchViewMode('forgot')">Forgot Password?</li>
    </ul>
  </form>
</div>
<!-- Forgot Password -->
<div class="lc-block" id="l-forget-password" ng-class="{ 'toggled': loginCtrl.viewMode.forgot }" ng-if="loginCtrl.viewMode.forgot">
  <form name="form-login" ng-submit="loginCtrl.forgotPassword(loginCtrl.user)">
    <p class="text-left">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu risus. Curabitur commodo lorem fringilla enim feugiat
      commodo sed ac lacus.
    </p>
    <div class="input-group m-b-20">
      <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
      <div class="fg-line">
        <input type="text" class="form-control" placeholder="Email Address">
      </div>
    </div>
    <button type="submit" class="btn btn-login btn-danger btn-float"><i class="zmdi zmdi-arrow-forward"></i></button>
    <ul class="login-navigation">
      <li data-block="#l-login" class="bgm-green" ng-click="loginCtrl.switchViewMode('login')">Login</li>
      <li data-block="#l-register" class="bgm-red" ng-click="loginCtrl.switchViewMode('register')">Register</li>
    </ul>
  </form>
</div>
