<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="github" value="https://nuget.pkg.github.com/aritters/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="1e2e127da018a7c5412e6628c22422124ebe21fa" />
			<add key="ClearTextPassword" value="1e2e127da018a7c5412e6628c22422124ebe21fa" />
		</github>
	</packageSourceCredentials>
</configuration>
