<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="github" value="https://nuget.pkg.github.com/aritters/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="aritters" />
			<add key="ClearTextPassword" value="efbedbd944d83249e3fa01ad6f959ba2d42dee5a" />
		</github>
	</packageSourceCredentials>
</configuration>
