<aside ng-class="{ 'toggled': $layout.chatToggled }">

  <div class="chat-search">
    <div class="fg-line">
      <input type="text" ng-model="searchText" class="form-control" placeholder="Search People">
    </div>
  </div>

  <div class="listview">
    <a class="lv-item" href="" ng-repeat="user in $layout.chatUsers | filter:searchText track by user.name">
      <div class="media">
        <div class="pull-left" ng-class="{ 'p-relative': user.status }">
          <img class="lv-img-sm" ng-src="{{::user.avatar}}" alt="">
          <i ng-if="user.status" ng-class="{
            'chat-status-busy': user.status === 'busy',
            'chat-status-online': user.status === 'online',
            'chat-status-offline': user.status === 'offline'
          }"></i>
        </div>
        <div class="media-body">
          <div class="lv-title" ng-bind="user.name"></div>
          <small class="lv-small" ng-bind="user.state"></small>
        </div>
      </div>
    </a>
  </div>

</aside>
