<header id="header" ng-include="'app/shared/header/header.html'" ng-controller="headerCtrl as hctrl"></header>

<section id="main">
  <aside id="sidebar" ng-include="'app/shared/sidebar/sidebar-left.html'" ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

  <aside id="chat" ng-include="'app/shared/chat/chat.html'" ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

  <section id="content">

    <div class="container">
      <div class="block-header">
        <h2>Dashboard</h2>

        <ul class="actions">
          <li>
            <a href="">
              <i class="zmdi zmdi-trending-up"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="zmdi zmdi-check-all"></i>
            </a>
          </li>
          <li class="dropdown" dropdown>
            <a href="" dropdown-toggle>
              <i class="zmdi zmdi-more-vert"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <a href="">Refresh</a>
              </li>
              <li>
                <a href="">Manage Widgets</a>
              </li>
              <li>
                <a href="">Widgets Settings</a>
              </li>
            </ul>
          </li>
        </ul>

      </div>

    </div>
  </section>
</section>

<footer id="footer" ng-include="'app/shared/footer/footer.html'"></footer>
